/*Estilo geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}
body {
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: block;
}
nav{
  background-color: rgb(255, 255, 255);
  
}
h1{
   font-family: 'Times New Roman', Times, serif;
   text-align: center; 
   color: rgb(0, 0, 0);
   font-weight: bolder;
}
.container{
  position: relative;
  height: 100vh;  /* Altura da tela */
}
.signup-screen{
  position: absolute;
  top: 50%;       /* Coloca no meio da tela verticalmente */
  left: 50%;      /* Coloca no meio da tela horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta para o centro exato */
  width: 50vh;
  border: 1px solid rgba(0, 128, 0, 0.212);
  border-radius: 50px;
  padding: 50px;
  background-color: #ffffff;
}
#gg{
  border: 1px solid rgba(0, 0, 0, 0.24);
}
#gg:hover{
    background-color: aliceblue;
}
