/*Estilo geral para todos os elementos*/
* {
  margin: 0; /* Remove a margem padrão */
  padding: 0; /* Remove o preenchimento padrão */
  box-sizing: border-box; /* Garante que a largura e altura incluam o padding e a borda */
  font-family: "Poppins", sans-serif; /* Define a fonte padrão para "Poppins" */
}

/*Estilo para o body da página*/
body {
  background-color: rgb(255, 255, 255); /* Define a cor de fundo da página */
  height: 100%; /* Define a altura total do body */
  display: block; /* Garante que o body seja exibido como um bloco */
  background-image: linear-gradient(to right, #c0c0c079,rgb(255, 255, 255), rgb(255, 255, 255) , rgba(255, 255, 255, 0.521));
}
.menu {
  background-color: rgb(0, 0, 0);/* Fundo com gradiente */
  height: 100px; /* Altura do menu */
  text-align: center;
  padding: 10px 0;
}
.logo{
  margin: 0 auto;
}
/*Estilo para links (a)*/
a {
  text-decoration: none; /* Remove sublinhado dos links */
  color: rgb(255, 255, 255); /* Define a cor do texto do link */
  display: block; /* Exibe o link como um bloco */
}
/*Estilo para o campo de entrada do formulário*/
form input{
  width: 1px; /* Define a largura total */
  height: 50px; /* Define a altura do campo */
  background-color: #ffffff; /* Define a cor de fundo branca */
  border: none; /* Remove bordas */
  outline: none; /* Remove a borda ao focar no campo */
  border-radius: 50px; /* Arredonda as bordas do campo */
  color: rgb(0, 0, 0); /* Define a cor do texto */
  font-size: 25px; /* Define o tamanho da fonte */
  padding-left: 20px; /* Adiciona preenchimento à esquerda */
  margin: 0 auto; /* Centraliza horizontalmente */

}

/*Estilo para o botão dentro da classe 'btn'*/
button {
  width: 30%; /* Define a largura total */
  height: 50px; /* Define a altura do campo */
  background-color: #000000; /* Define a cor de fundo branca */
  border: none; /* Remove bordas */
  outline: none; /* Remove a borda ao focar no campo */
  border-radius: 50px; /* Arredonda as bordas do campo */
  font-size: 25px; /* Define o tamanho da fonte */
  margin: 0 auto; /* Centraliza horizontalmente */
}

/*Estilo para ícones com a classe 'i2'*/
.i2 {
  color: #000000; /* Define a cor dos ícones */
  font-size: 20px; /* Define o tamanho da fonte (ícones) */
  margin-top: 5px; /* Define uma margem superior */
  text-align: center; /* Centraliza o conteúdo */
}
form{
  display: grid;
}
/*Estilo para a div com a classe 'biblioteca'*/
.biblioteca {
  background-color: rgba(255, 255, 255, 0);
  width: 80%; /* Define a largura como 80% */
  margin: 0 auto; /* Centraliza horizontalmente */
  display: flex; /* Usa layout flexível */
  text-align: center; /* Centraliza o texto */
  justify-content: center; /* Centraliza o conteúdo */
  padding: 100px 0; /* Adiciona preenchimento interno */
  border-radius: 50px; /* Arredonda as bordas */
  
}

/*Estilo para a imagem da coruja*/
.coruja {
  height: 500px; /* Define a altura da imagem */
  width: 100%; /* Define a largura da imagem */
  border-radius: 10px; /* Arredonda as bordas */
}

/*Estilo para a div com a classe 'cadastro'*/
.cadastro {
  background-color: #c0c0c013;
  border: 1px solid; /* Define uma borda sólida */
  width: 50%; /* Define a largura como 50% */
  margin: 0px; /* Remove a margem */
  text-align: center; /* Centraliza o texto */
  align-items: center; /* Centraliza verticalmente */
  border-radius: 20px; /* Arredonda as bordas */
  padding: 0px;
}
/*Estilo para a div com a classe 'form-cadastro'*/
.form-cadastro {
  width: 90%; /* Define a largura como 80% */
  margin: 0 auto; /* Centraliza horizontalmente */
  text-align: center; /* Centraliza o texto */
}
/*Estilo para os campos de input com os IDs 'no', 'em' e 'se'*/
#no, #em, #se,#da, #user {
  border: 1px solid #2b332f; /* Define a borda dos campos */
  margin-top: 2px; /* Adiciona uma margem superior */
  font-size: 15px; /* Define o tamanho da fonte */
  width: 300px; /* Define a largura dos campos */
}
footer{
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}