/*Estilo geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: white;
  height: 100%;
  display: block;
}
.opcoes{
  background-color: #c0c0c013;
  color: #ffffff;
  text-align: center;
  padding: 0px;
  font-size: 20px;
}
ul {
  display: inline-block;
  padding: 0px;
}
li {
  padding: 15px;
  display: inline-block;
  align-items: center; /* Centraliza o conteúdo verticalmente */
}
li:hover {
  background-color: rgb(207, 221, 233);
  border-radius: 0px;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
}
a:hover{
  color: #000000;
}
.biblioteca {
  width: 100%; /* Define a largura da div */
  justify-content: center;
  grid-template-columns: auto auto auto;
  display: grid;
}
#btn-comprar{
  text-decoration: none;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  padding: 5px;
  width: 100%;
}
#btn-comprar a{
  color: #ffffff;
  font-size: 15px;
}
.livro {
  margin: 0 auto;  /* Centraliza a tabela */
  width: 150px;  /* Largura do livro */
  margin: 10px;  /* Sem margens */
  border-radius: 10px;  /* Bordas arredondadas */
  box-shadow: 0px 0px 10px 1px #706f6f69;
}
.img {
  height: 200px;  /* Altura da imagem */
  width: 100%;  /* Largura total */
  border-radius: 10px;  /* Bordas arredondadas */
}
p {
  color:#000000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 15px;
  padding: 5px;
}

@media (max-width: 600px) {
  .log{
    width: 150px;
    height: 50px;
  }
  .opcoes{
    width: 60vh;
    font-size: 10px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  ul{
    margin: 0 auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0px;
  }
  li{
    padding: 1px 0px;
    border-radius: 5px;
  }
}