
/*Estilo geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: linear-gradient(to right, #c0c0c028,rgb(255, 255, 255), rgb(255, 255, 255) , #c0c0c028);  /* Cor de fundo */
  height: 100%;
  display: block;
}
h1 {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3 {
  font-size: 20px;
  margin-left: 0px;
  color: white;
  padding: 0px;
}
.menu {
  background-color: rgb(0, 0, 0);/* Fundo com gradiente */
  height: 100px; /* Altura do menu */
  grid-template-columns: auto auto auto;
  gap: 100px;
  display: grid;
  padding: 20px 0;
}
.logo{
  margin: 0 auto;
}
form input {
  margin: 0 auto;
  width: 350px;/* Largura total */
  height: 50px;/* Altura do campo */
  background-color: #ffffff; /* Fundo branco */
  border: none;  /* Remove borda */
  border-radius: 50px; /* Bordas arredondadas */
  color: rgb(0, 0, 0); /* Cor do texto */
  font-size: 25px;  /* Tamanho da fonte */
  padding-left: 20px; /* Espaçamento à esquerda dentro do campo */
}
.icone{
  margin: 0 auto;
}
.icone:hover{
  transition: 0.1s;
  transform: scale(1.1);
}
.opcoes{
  background-color: #c0c0c013;
  color: #ffffff;
  text-align: center;
  padding: 0px;
  font-size: 20px;
}
ul {
  display: inline-block;
  padding: 0px;
}
li {
  padding: 15px;
  display: inline-block;
  align-items: center; /* Centraliza o conteúdo verticalmente */
}
li:hover {
  background-color: rgb(207, 221, 233);
  border-radius: 0px;
}
/* Links */
a {
  text-decoration: none;  /* Remove sublinhado dos links */
  color: rgb(0, 0, 0);  /* Cor preta para o link */
  display: block;  /* Exibe o link como bloco */
}

#env {
  font-size: 15px;
  background: linear-gradient(to right, #000000, #000000);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 10%;
  height: 100%;
  color: white;
  text-align: center;
  padding-right: 50px;
}
.i2{
  color: #000000;
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
}
.flex{
  display: flex;
  height: 100%;
}
.corpo-do-site{
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  height: 100%;
  width: 90%;
  padding: 30px 0;
}
.cadastro{
  border-radius: 15px;
  height: 600px;
  width: 100%;
  margin: 0px;
}
.msg form{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
}
#no{
  border: 1px solid #2b332f;
  margin-top: 2px;
  font-size: 15px;
  width: 100%;
  text-align: left;
  
}
.msg{
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 3px;
}
#ajd{
  background-color: #3533b8;
  border-radius: 50px;
 
}
#ajd > a{
   color: #ffffff;
}
.chat{
  padding: 10px;
  height: 500px;
  border-radius: 20px;
  width: 80%;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 0px 3px 0px rgb(83, 83, 83);
 }
.eu{
  background-color:#000000;
  width: 250px;
  color: #ffffff;
  border-radius: 50px;
  text-align: left;
  padding: 10px;
  margin: 5px;
  height: 50px;
  padding-left: 20px;
}

/* Estilo para o link */
#co>a {
  color: rgb(0, 0, 0);  /* Cor do link */
}

#co {
  background-color: rgb(207, 221, 233);
  color:#000000 ;
}

footer{
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 30px;
}
/* Estilo do ícone 2 */
.i2 {
  color: #ffffff;  /* Cor do ícone */
  font-size: 40px;  /* Tamanho da fonte */
  margin-top: 10px; /* Margem superior */
  text-align: center;  /* Centraliza o texto */
}
i:hover{
  transition: 0.1s;
  transform: scale(1.05);
}