/* Reset geral para remover margens e preenchimentos */
* {
  margin: 0; /* Remove a margem */
  padding: 0;  /* Remove o preenchimento */
  box-sizing: border-box;/* Inclui as bordas e o preenchimento nas dimensões totais dos elementos */
  font-family: "Poppins", sans-serif;  /* Define a fonte padrão do site */
}

/* Estilo do corpo da página */
body {
  background-color: rgb(255, 255, 255);  /* Cor de fundo */
  height: 100%;  /* Define a altura do corpo como 100% da janela */
  display: block;  /* Exibe o corpo como bloco */
}

/* Estilo do título principal */
h1 {
  color: white;  /* Cor do texto */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; /* Fonte estilizada para o título */
}

/* Estilo de subtítulo */
h3 {
  font-size: 20px;  /* Tamanho da fonte */
  margin-left: 0px;  /* Sem margem à esquerda */
  color: white;  /* Cor do texto */
  padding: 0px;  /* Sem preenchimento */
}

/* Lista não ordenada */
ul {
  gap: 25px;
  display: grid;
}
/* Menu de navegação */
.menu {
  align-items: center; /* Centraliza os itens verticalmente */
  justify-content: center; /* Centraliza os itens horizontalmente */
  height: 80px; /* Altura do menu */
  display: flex; /* Flexbox para organizar os itens */
  background-color: black;/* Fundo*/
}
/* Campos de entrada do formulário */
form input {
  width: 100%;/* Largura total */
  height: 200%;/* Altura do campo */
  background-color: #ffffff; /* Fundo branco */
  border: none;  /* Remove borda */
  border-radius: 50px; /* Bordas arredondadas */
  color: rgb(0, 0, 0); /* Cor do texto */
  font-size: 25px;  /* Tamanho da fonte */
  padding-left: 20px; /* Espaçamento à esquerda dentro do campo */
}
.log{
  width: 220px;
  height: 220px;
}
/* Itens da lista */
li {
  display: flex;  /* Flexbox para organizar o conteúdo */
  align-items: center;  /* Centraliza o conteúdo verticalmente */
  height: 50px;  /* Altura de cada item */
}

/* Estilo ao passar o mouse sobre o item da lista */
li:hover {
  background-color: rgb(228, 228, 228);  /* Muda a cor de fundo ao passar o mouse */
  border-radius: 50px;  /* Bordas arredondadas */
}

/* Links */
a {
  text-decoration: none;  /* Remove sublinhado dos links */
  color: rgb(0, 0, 0);  /* Cor preta para o link */
  display: block;  /* Exibe o link como bloco */
}

/* Margem esquerda para links dentro de listas */
.a-li {
  margin-left: 5px;  /* Adiciona espaço à esquerda */
}

/* Estilo ao passar o mouse sobre links */
a:hover {
  color: #000000;  /* Muda a cor do texto ao passar o mouse */
}



nav {
  text-align: left; /* Alinha o conteúdo à esquerda */
  margin: 0 auto; /* Centraliza horizontalmente */
  font-size: 20px;  /* Tamanho da fonte */
  background-color:rgb(237, 238, 240); /* Cor de fundo */
  height: 100%;  /* Altura total da tela */
  justify-content: center;  /* Centraliza o conteúdo */
  padding: 10px;  /* Preenchimento */
  border: 1px solid rgb(177, 175, 175);
}

/* Estilo do ícone 2 */
.i2 {
  color: #000000;  /* Cor do ícone */
  font-size: 40px;  /* Tamanho da fonte */
  margin-top: 10px; /* Margem superior */
  text-align: center;  /* Centraliza o texto */
}
i:hover{
  transition: 0.1s;
  transform: scale(1.05);
}
/* Lista de livros */
.lista {
  width: 25%;  /* Largura da lista */
}

/* Biblioteca */
.biblioteca {
  background-color: rgb(255, 255, 255);  /* Cor de fundo */
  width: 100%;  /* Largura da div */
  margin: 0 auto;  /* Centraliza horizontalmente */
  justify-content: center;  /* Centraliza o conteúdo */
  padding: 20px;
  grid-template-columns: auto auto auto;
  gap: 30px;
  display: grid;
}
#btn-comprar{
  text-decoration: none;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  padding: 5px;
}
#btn-comprar a{
  color: #ffffff;
  font-size: 20px;
}
#btn-comprar:hover{
  transition: 0.1s;
  transform: scale(1.05);
}
/* Estilo de cada livro */
.livro {
  background-color: rgb(237, 238, 240);
  padding:15px;  /* Preenchimento interno */
  margin: 0 auto;  /* Centraliza a tabela */
  width: 250px;  /* Largura do livro */
  margin: 10px;  /* Sem margens */
  border: 1px solid rgba(128, 128, 128, 0.356);/* Borda*/
  border-radius: 10px;  /* Bordas arredondadas */
  background-image: linear-gradient(rgba(0, 0, 0, 0.151), rgba(255, 255, 255, 0.096));
}

/* Imagem dentro do livro */
.img {
  height: 200px;  /* Altura da imagem */
  width: 100%;  /* Largura total */
  border-radius: 0px;  /* Bordas arredondadas */
}

/* Animação ao passar o mouse sobre a imagem */
.img:hover {
  transition: 0.1s;  /* Duração da transição */
  transform: scale(1.05);  /* Amplia levemente a imagem */
  box-shadow: 0px 0px 13px 0px rgba(21, 5, 80, 0.342);/* Adiciona sombra */
}

/* Parágrafo */
p {
  color: #000000;  /* Cor do texto */
  font-family: Arial, Helvetica, sans-serif;  /* Fonte */
  text-align: left;  /* Alinha o texto à esquerda */
  font-size: 20px; /* Tamanho da fonte */
  cursor: pointer;  /* Altera o cursor ao passar o mouse */
  padding: 5px;  /* Preenchimento interno */
}

/* Flexbox para estrutura */
.flex {
  display: flex;  /* Usa flexbox */
  height: 100%;  /* Altura total */
}

/* Estilo para o link */
#co>a {
  color: aliceblue;  /* Cor do link */
}

#co {
  border-radius: 50px; /* Bordas arredondadas */
  background-color: #000000;  /* Cor de fundo */
}
footer{
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 30px;
}