/* Reset geral para remover margens e preenchimentos */
* {
  margin: 0; /* Remove a margem */
  padding: 0;  /* Remove o preenchimento */
  box-sizing: border-box;/* Inclui as bordas e o preenchimento nas dimensões totais dos elementos */
  font-family: "Poppins", sans-serif;  /* Define a fonte padrão do site */
}
/* Estilo do corpo da página */
body {
  background-color: rgb(255, 255, 255);  /* Cor de fundo */
  height: 100%;  /* Define a altura do corpo como 100% da janela */
  display: block;  /* Exibe o corpo como bloco */
}
/* Estilo do título principal */
h1 {
  color: white;  /* Cor do texto */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; /* Fonte estilizada para o título */
}
/* Estilo de subtítulo */
h3 {
  font-size: 20px;  /* Tamanho da fonte */
  margin-left: 0px;  /* Sem margem à esquerda */
  color: white;  /* Cor do texto */
  padding: 0px;  /* Sem preenchimento */
}
.menu {
  background-color: rgb(0, 0, 0);/* Fundo com gradiente */
  height: 100px; /* Altura do menu */
  grid-template-columns: auto auto auto;
  gap: 100px;
  display: grid;
  padding: 20px 0;
}
.logo{
  margin: 0 auto;
}
form input {
  margin: 0 auto;
  width: 350px;/* Largura total */
  height: 50px;/* Altura do campo */
  background-color: #ffffff; /* Fundo branco */
  border: none;  /* Remove borda */
  border-radius: 50px; /* Bordas arredondadas */
  color: rgb(0, 0, 0); /* Cor do texto */
  font-size: 25px;  /* Tamanho da fonte */
  padding-left: 20px; /* Espaçamento à esquerda dentro do campo */
}
.icone{
  margin: 0 auto;
}
.icone:hover{
  transition: 0.1s;
  transform: scale(1.1);
}
.opcoes{
  background-color: #c0c0c013;
  color: #ffffff;
  text-align: center;
  padding: 0px;
  font-size: 20px;
}
ul {
  display: inline-block;
  padding: 0px;
}
li {
  padding: 15px;
  display: inline-block;
  align-items: center; /* Centraliza o conteúdo verticalmente */
}
li:hover {
  background-color: rgb(207, 221, 233);
  border-radius: 0px;
}
/* Links */
a {
  text-decoration: none;  /* Remove sublinhado dos links */
  color: rgb(0, 0, 0);  /* Cor preta para o link */
  display: block;  /* Exibe o link como bloco */
}
/* Biblioteca */
.biblioteca {
  background-color: rgb(255, 255, 255);  /* Cor de fundo */
  width: 100%;  /* Largura da div */
  margin: 0 auto;  /* Centraliza horizontalmente */
  justify-content: center;  /* Centraliza o conteúdo */
  padding: 20px;
  grid-template-columns: auto auto auto;
  gap: 30px;
  display: grid;
}
#btn-comprar{
  text-decoration: none;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  padding: 5px;
}
#btn-comprar a{
  color: #ffffff;
  font-size: 20px;
}
#btn-comprar:hover{
  transition: 0.1s;
  transform: scale(1.05);
}
/* Estilo de cada livro */
.livro {
  padding:15px;  /* Preenchimento interno */
  margin: 0 auto;  /* Centraliza a tabela */
  width: 250px;  /* Largura do livro */
  margin: 10px;  /* Sem margens */
  border: 1px solid rgba(128, 128, 128, 0.356);/* Borda*/
  border-radius: 10px;  /* Bordas arredondadas */
}

/* Imagem dentro do livro */
.img {
  height: 200px;  /* Altura da imagem */
  width: 100%;  /* Largura total */
  border-radius: 0px;  /* Bordas arredondadas */
}

/* Animação ao passar o mouse sobre a imagem */
.img:hover {
  transition: 0.1s;  /* Duração da transição */
  transform: scale(1.05);  /* Amplia levemente a imagem */
}

/* Parágrafo */
p {
  color: #000000;  /* Cor do texto */
  font-family: Arial, Helvetica, sans-serif;  /* Fonte */
  text-align: left;  /* Alinha o texto à esquerda */
  font-size: 20px; /* Tamanho da fonte */
  cursor: pointer;  /* Altera o cursor ao passar o mouse */
  padding: 5px;  /* Preenchimento interno */
}

/* Estilo para o link */
#co>a {
  color: rgb(0, 0, 0);  /* Cor do link */
}

#co {
  background-color: rgb(207, 221, 233);
  color:#000000 ;
}

footer{
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 30px;
}
/* Estilo do ícone 2 */
.i2 {
  color: #ffffff;  /* Cor do ícone */
  font-size: 40px;  /* Tamanho da fonte */
  margin-top: 10px; /* Margem superior */
  text-align: center;  /* Centraliza o texto */
}
i:hover{
  transition: 0.1s;
  transform: scale(1.05);
}