/*Estilo geral*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: block;
}
h1 {
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 5px;
}
h3 {
  font-size: 20px;
  margin-left: 0px;
  color: white;
  padding: 0px;
}
.icone_livros {
  width: 24px;
}
.logo {
  padding: 0; /* Sem preenchimento na logo */
  text-align: left; /* Alinha a logo à esquerda */
  margin-left: 20px; /* Margem à esquerda */
  width: 200px; /* Largura da logo */
  height: 200px; /* Altura da logo */
  background-color: #6055c700; /* Fundo transparente */
  display: flex;  /* Usa flexbox para layout */
}
/* Estilo de um elemento com classe 'log' */
.log {
  height: 220px; /* Altura da imagem */
  width: 220px; /* Largura da imagem */
}

.menu {
  align-items: center; /* Centraliza os itens verticalmente */
  justify-content: center; /* Centraliza os itens horizontalmente */
  height: 80px; /* Altura do menu */
  display: flex; /* Flexbox para organizar os itens */
  background-color: black;/* Fundo com gradiente */
}
.form {
  display: flex;  /* Flexbox para centralização */
  margin: 0 auto;/* Centraliza horizontalmente */
  justify-content:center;  /* Alinha ao centro */
}

form input {
  width: 200%;/* Largura total */
  height: 50px;/* Altura do campo */
  background-color: #ffffff; /* Fundo branco */
  border: none;  /* Remove borda */
  outline: none; /* Remove contorno ao focar */
  border-radius: 50px; /* Bordas arredondadas */
  color: rgb(0, 0, 0); /* Cor do texto */
  font-size: 25px;  /* Tamanho da fonte */
  padding-left: 20px; /* Espaçamento à esquerda dentro do campo */
}
.i1 {
  color: #ffffff;
  padding-top: 8px;
  padding-left: 3px;
  font-size: 20px;
}
.opcoes{
  background-color: #c0c0c000;
  color: #ffffff;
  text-align: center;
  padding: 0px;
  font-size: 20px;
}
ul {
  display: inline-block;
  padding: 0px;
}
li {
  padding: 15px;
  display: inline-block;
  align-items: center; /* Centraliza o conteúdo verticalmente */
}
li:hover {
  background-color: rgb(207, 221, 233);
  border-radius: 0px;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
}
.a-li {
  margin-left: 5px;
}
a:hover {
  color: #270158;
}
.btn button {
  margin-top: 20px;
  padding: 10px 0px;
  font-size: 15px;
  background: linear-gradient(to right, #000000, #000000);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  width: 80%;
  height: 80%;
  color: white;
}
.btn {
  text-align: center;
  margin: 0 auto;
}
.a-btn {
  text-align: center;
}
.i2 {
  color: #000000;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}
button:hover {
  box-shadow: 0px 0px 3px #28262bce;
  transform: scale(1.05);
  transition: 0.01s;
}
.livro {
  padding: 2px;
  margin: 0 auto; /* Centraliza a tabela */
  border-collapse: collapse; /* Junta as bordas das células */
}
.biblioteca {
  background-color: rgba(201, 211, 219, 0);
  width: 90%; /* Define a largura da div */
  margin: 0 auto; /* Centraliza horizontalmente */
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  gap: 10px; /* Espaçamento entre as divs */
}
.livro {
  width: 20%;
  margin: 0px;
  border-radius: 10px ;
  padding: 20px;
}
.img {
  height: 270px;
  width: 100%;
  border-radius: 10px;
}
.img:hover {
  transition: 0.1s;
  transform: scale(1.05);
  box-shadow: 0px 0px 13px 0px rgba(21, 5, 80, 0.342);
}
p {
  color:#000000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}
.flex {
  display: flex;
  height: 100%;
}
.corpo-do-site {
  margin: 0 auto;
  align-items: center;
  display: inline;
}
#co > a {
  color: aliceblue;
}
#co {
  border-radius: 50px;
  background-color: #3533b8;
}